.code {
	width: 100%;
	font-family: monospace;
	background-color: rgb(15,15,15);
	border: 1px solid rgb(85,85,85);
	color: white;
	border-radius: 5px;
}

.code ol li .number {
	/* Numbers */
	font-family: inherit;
	color: #008CFF;
}

.code ol li .operator {
	/* Math / logic operators */
	font-family: inherit;
	color: #FF7300;
}

.code ol li .string {
	/* Strings / text */
	font-family: inherit;
	color: green;
}

.code ol li .keyword {
	/* Keywords */ 
	font-family: inherit;
	color: #FF7300;
}

.code ol li .func {
	/* Functions (when defining) */
	font-family: inherit;
	color: inherit;
}

.code ol li .arg {
	/* Function arguments (when defining) */
	font-family: inherit;
	font-style: italic;
	color: inherit;
}

.code ol li .comment {
	/* Comments */
	font-family: inherit;
	color: purple;
}