blockquote.info {
	/* Info boxes */
	padding: 5px;
	background-position: 3px;
	background-image: url('lightbulb.png');
	background-size: 20px;
	background-repeat: no-repeat;
	padding-left: 30px;
	background-color: yellow;
	border: 1px solid black;
	border-radius: 3px;
}

* {
	font-family: Arial;
}